<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|DW_ADDR_DEC|MASTER_ID_FIFO</TD>
<TD >8</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|DW_ADDR_DEC</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|AW_ADDR_DEC</TD>
<TD >241</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|AR_ADDR_DEC</TD>
<TD >239</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE</TD>
<TD >123</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >42</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BR_ALLOC</TD>
<TD >140</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >8</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE</TD>
<TD >24</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >9</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK|BW_ALLOC</TD>
<TD >33</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[3].RESP_BLOCK</TD>
<TD >441</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >63</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|DW_ADDR_DEC|MASTER_ID_FIFO</TD>
<TD >8</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|DW_ADDR_DEC</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|AW_ADDR_DEC</TD>
<TD >241</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|AR_ADDR_DEC</TD>
<TD >239</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE</TD>
<TD >123</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >42</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BR_ALLOC</TD>
<TD >140</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >8</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE</TD>
<TD >24</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >9</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK|BW_ALLOC</TD>
<TD >33</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[2].RESP_BLOCK</TD>
<TD >441</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >63</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|DW_ADDR_DEC|MASTER_ID_FIFO</TD>
<TD >8</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|DW_ADDR_DEC</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|AW_ADDR_DEC</TD>
<TD >241</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|AR_ADDR_DEC</TD>
<TD >239</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE</TD>
<TD >123</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >42</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BR_ALLOC</TD>
<TD >140</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >8</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE</TD>
<TD >24</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >9</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK|BW_ALLOC</TD>
<TD >33</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[1].RESP_BLOCK</TD>
<TD >441</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >63</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|DW_ADDR_DEC|MASTER_ID_FIFO</TD>
<TD >8</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|DW_ADDR_DEC</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|AW_ADDR_DEC</TD>
<TD >241</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|AR_ADDR_DEC</TD>
<TD >239</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >82</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BR_ALLOC|ARB_TREE.BR_ARB_TREE</TD>
<TD >123</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >42</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BR_ALLOC</TD>
<TD >140</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >8</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BW_ALLOC|ARB_TREE.BW_ARB_TREE</TD>
<TD >24</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >9</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK|BW_ALLOC</TD>
<TD >33</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_RESP_BLOCK_GEN[0].RESP_BLOCK</TD>
<TD >441</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >63</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|BR_DECODER</TD>
<TD >9</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|BW_DECODER</TD>
<TD >9</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|DW_ALLOC|WRITE_DATA_MUX</TD>
<TD >154</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|DW_ALLOC|MASTER_ID_FIFO</TD>
<TD >11</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|DW_ALLOC</TD>
<TD >167</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE</TD>
<TD >290</TD>
<TD >27</TD>
<TD >0</TD>
<TD >27</TD>
<TD >75</TD>
<TD >27</TD>
<TD >27</TD>
<TD >27</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AW_ALLOCATOR</TD>
<TD >264</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >78</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE</TD>
<TD >290</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >75</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK|AR_ALLOCATOR</TD>
<TD >263</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[2].REQ_BLOCK</TD>
<TD >700</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >195</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|BR_DECODER</TD>
<TD >9</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|BW_DECODER</TD>
<TD >9</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|DW_ALLOC|WRITE_DATA_MUX</TD>
<TD >154</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|DW_ALLOC|MASTER_ID_FIFO</TD>
<TD >11</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|DW_ALLOC</TD>
<TD >167</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE</TD>
<TD >290</TD>
<TD >27</TD>
<TD >0</TD>
<TD >27</TD>
<TD >75</TD>
<TD >27</TD>
<TD >27</TD>
<TD >27</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AW_ALLOCATOR</TD>
<TD >264</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >78</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE</TD>
<TD >290</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >75</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK|AR_ALLOCATOR</TD>
<TD >263</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[1].REQ_BLOCK</TD>
<TD >700</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >195</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|BR_DECODER</TD>
<TD >9</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|BW_DECODER</TD>
<TD >9</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|DW_ALLOC|WRITE_DATA_MUX</TD>
<TD >154</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|DW_ALLOC|MASTER_ID_FIFO</TD>
<TD >11</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|DW_ALLOC</TD>
<TD >167</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AW_ALLOCATOR|AW_ARB_TREE</TD>
<TD >290</TD>
<TD >27</TD>
<TD >0</TD>
<TD >27</TD>
<TD >75</TD>
<TD >27</TD>
<TD >27</TD>
<TD >27</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AW_ALLOCATOR</TD>
<TD >264</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >78</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|RR_REQ</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[1].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[1].INCR_VERT[0].LEAF_NODES.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE|BINARY_TREE.STAGE[0].INCR_VERT[0].LAST_NODE.FAN_IN_REQ</TD>
<TD >146</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >73</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AR_ALLOCATOR|AW_ARB_TREE</TD>
<TD >290</TD>
<TD >31</TD>
<TD >0</TD>
<TD >31</TD>
<TD >75</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK|AR_ALLOCATOR</TD>
<TD >263</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i|_REQ_BLOCK_GEN[0].REQ_BLOCK</TD>
<TD >700</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >195</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i|axi_node_i</TD>
<TD >1050</TD>
<TD >15</TD>
<TD >0</TD>
<TD >15</TD>
<TD >717</TD>
<TD >15</TD>
<TD >15</TD>
<TD >15</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|axi_interconnect_i</TD>
<TD >1035</TD>
<TD >192</TD>
<TD >0</TD>
<TD >192</TD>
<TD >717</TD>
<TD >192</TD>
<TD >192</TD>
<TD >192</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|data_mem_wrap|altera_sram_512x32_data_mem|altsyncram_component|auto_generated</TD>
<TD >96</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|data_mem_wrap|altera_sram_512x32_data_mem</TD>
<TD >96</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|data_mem_wrap</TD>
<TD >239</TD>
<TD >5</TD>
<TD >0</TD>
<TD >5</TD>
<TD >109</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|inst_mem_wrap|altera_sram_512x32_inst_mem|altsyncram_component|auto_generated</TD>
<TD >96</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|inst_mem_wrap|altera_sram_512x32_inst_mem</TD>
<TD >96</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|inst_mem_wrap</TD>
<TD >143</TD>
<TD >41</TD>
<TD >24</TD>
<TD >41</TD>
<TD >64</TD>
<TD >41</TD>
<TD >41</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|core|registers</TD>
<TD >56</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >96</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|core|pc</TD>
<TD >65</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >64</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|core|alu</TD>
<TD >69</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|core|control</TD>
<TD >17</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|core</TD>
<TD >80</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >165</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v|io_ctrl</TD>
<TD >149</TD>
<TD >32</TD>
<TD >32</TD>
<TD >32</TD>
<TD >132</TD>
<TD >32</TD>
<TD >32</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i|dom_v</TD>
<TD >49</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >34</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|gpp_gate_i</TD>
<TD >49</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb2per_debug_i</TD>
<TD >104</TD>
<TD >6</TD>
<TD >17</TD>
<TD >6</TD>
<TD >87</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_pulpino_i</TD>
<TD >49</TD>
<TD >25</TD>
<TD >8</TD>
<TD >25</TD>
<TD >322</TD>
<TD >25</TD>
<TD >25</TD>
<TD >25</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_i2c_i|byte_controller|bit_controller</TD>
<TD >26</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >8</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_i2c_i|byte_controller</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_i2c_i</TD>
<TD >51</TD>
<TD >18</TD>
<TD >24</TD>
<TD >18</TD>
<TD >39</TD>
<TD >18</TD>
<TD >18</TD>
<TD >18</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_event_unit_i|i_sleep_unit</TD>
<TD >52</TD>
<TD >2</TD>
<TD >11</TD>
<TD >2</TD>
<TD >36</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_event_unit_i|i_event_unit</TD>
<TD >81</TD>
<TD >2</TD>
<TD >10</TD>
<TD >2</TD>
<TD >66</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_event_unit_i|i_interrupt_unit</TD>
<TD >81</TD>
<TD >2</TD>
<TD >10</TD>
<TD >2</TD>
<TD >66</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_event_unit_i</TD>
<TD >116</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_timer_i|TIMER_GEN[1].timer_i</TD>
<TD >49</TD>
<TD >2</TD>
<TD >10</TD>
<TD >2</TD>
<TD >36</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_timer_i|TIMER_GEN[0].timer_i</TD>
<TD >49</TD>
<TD >2</TD>
<TD >10</TD>
<TD >2</TD>
<TD >36</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_timer_i</TD>
<TD >49</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_spi_master_i|u_spictrl|u_rxreg</TD>
<TD >27</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >35</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_spi_master_i|u_spictrl|u_txreg</TD>
<TD >55</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_spi_master_i|u_spictrl|u_clkgen</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_spi_master_i|u_spictrl</TD>
<TD >182</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >53</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_spi_master_i|u_rxfifo</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_spi_master_i|u_txfifo</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_spi_master_i|u_axiregs</TD>
<TD >115</TD>
<TD >17</TD>
<TD >10</TD>
<TD >17</TD>
<TD >233</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_spi_master_i</TD>
<TD >53</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >47</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_gpio_i</TD>
<TD >81</TD>
<TD >35</TD>
<TD >8</TD>
<TD >35</TD>
<TD >324</TD>
<TD >35</TD>
<TD >35</TD>
<TD >35</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_uart_sv_i|uart_interrupt_i</TD>
<TD >24</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >5</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_uart_sv_i|uart_tx_fifo_i</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_uart_sv_i|uart_tx_i</TD>
<TD >32</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_uart_sv_i|uart_rx_fifo_i</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_uart_sv_i|uart_rx_i</TD>
<TD >25</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >10</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|apb_uart_sv_i</TD>
<TD >74</TD>
<TD >26</TD>
<TD >24</TD>
<TD >26</TD>
<TD >106</TD>
<TD >26</TD>
<TD >26</TD>
<TD >26</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|apb_node_wrap_i|apb_node_i</TD>
<TD >1046</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >704</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|apb_node_wrap_i</TD>
<TD >1049</TD>
<TD >640</TD>
<TD >3</TD>
<TD >640</TD>
<TD >704</TD>
<TD >640</TD>
<TD >640</TD>
<TD >640</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_slave</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[9]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[8]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[7]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[6]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[5]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[4]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[3]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[2]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[1]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i|s_masters[0]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|periph_bus_i</TD>
<TD >409</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >704</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_b_buffer|buffer_i</TD>
<TD >12</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_b_buffer</TD>
<TD >12</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >9</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_r_buffer|buffer_i</TD>
<TD >45</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >42</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_r_buffer</TD>
<TD >45</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >42</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_w_buffer|buffer_i</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_w_buffer</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_ar_buffer|buffer_i</TD>
<TD >71</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_ar_buffer</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_aw_buffer|buffer_i</TD>
<TD >71</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i|Slave_aw_buffer</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i|axi2apb_i</TD>
<TD >212</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >119</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi2apb_i</TD>
<TD >212</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >119</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_uart_slave_i</TD>
<TD >120</TD>
<TD >70</TD>
<TD >15</TD>
<TD >70</TD>
<TD >204</TD>
<TD >70</TD>
<TD >70</TD>
<TD >70</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_syncro</TD>
<TD >37</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >35</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_axiplug</TD>
<TD >135</TD>
<TD >70</TD>
<TD >11</TD>
<TD >70</TD>
<TD >205</TD>
<TD >70</TD>
<TD >70</TD>
<TD >70</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_tx|u_dout|empty_synch</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_tx|u_dout|read_tr</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_tx|u_dout</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_tx|u_din|full|full_synch</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_tx|u_din|full</TD>
<TD >19</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_tx|u_din|write_tr</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_tx|u_din|buffer</TD>
<TD >50</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_tx|u_din</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_tx</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_rx|u_dout|empty_synch</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_rx|u_dout|read_tr</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_rx|u_dout</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_rx|u_din|full|full_synch</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_rx|u_din|full</TD>
<TD >19</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_rx|u_din|write_tr</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_rx|u_din|buffer</TD>
<TD >50</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_rx|u_din</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >41</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_dcfifo_rx</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_slave_sm|u_spiregs</TD>
<TD >15</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_slave_sm|u_cmd_parser</TD>
<TD >8</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >10</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_slave_sm</TD>
<TD >71</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >138</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_txreg|clk_mux_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_txreg|clk_inv_i</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_txreg</TD>
<TD >46</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i|u_rxreg</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i|axi_spi_slave_i</TD>
<TD >57</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >177</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|axi_spi_slave_i</TD>
<TD >57</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >177</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[8].core_clock_gate|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[8].core_clock_gate</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[7].core_clock_gate|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[7].core_clock_gate</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[6].core_clock_gate|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[6].core_clock_gate</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[5].core_clock_gate|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[5].core_clock_gate</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[4].core_clock_gate|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[4].core_clock_gate</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[3].core_clock_gate|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[3].core_clock_gate</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[2].core_clock_gate|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[2].core_clock_gate</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[1].core_clock_gate|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[1].core_clock_gate</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[0].core_clock_gate|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|ans[0].core_clock_gate</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_pmm1_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_debug_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_soc_ctrl_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_gpp_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_i2c_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_event_unit_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_timer_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_spi_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_gpio_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_uart_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|s_apb_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
<TD >0</TD>
<TD >101</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i|remote_access_bus</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >103</TD>
<TD >0</TD>
<TD >103</TD>
<TD >0</TD>
<TD >103</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|peripherals_i</TD>
<TD >448</TD>
<TD >652</TD>
<TD >0</TD>
<TD >652</TD>
<TD >1119</TD>
<TD >652</TD>
<TD >652</TD>
<TD >652</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|dbg_module_i|i_dbg_cpu_or1k|or1k_crc_i</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|dbg_module_i|i_dbg_cpu_or1k|or1k_biu_i</TD>
<TD >107</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >83</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|dbg_module_i|i_dbg_cpu_or1k|or1k_statusreg_i</TD>
<TD >22</TD>
<TD >0</TD>
<TD >15</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|dbg_module_i|i_dbg_cpu_or1k</TD>
<TD >100</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >53</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|dbg_module_i|i_dbg_axi|axi_crc_i</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|dbg_module_i|i_dbg_axi|axi_biu_i</TD>
<TD >154</TD>
<TD >94</TD>
<TD >39</TD>
<TD >94</TD>
<TD >237</TD>
<TD >94</TD>
<TD >94</TD>
<TD >94</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|dbg_module_i|i_dbg_axi</TD>
<TD >121</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >173</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|dbg_module_i</TD>
<TD >92</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >224</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|cluster_tap_i|u_clk_mux</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|cluster_tap_i|u_clk_inv</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i|cluster_tap_i</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >13</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|adv_dbg_if_i</TD>
<TD >90</TD>
<TD >88</TD>
<TD >0</TD>
<TD >88</TD>
<TD >225</TD>
<TD >88</TD>
<TD >88</TD>
<TD >88</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_ram_mux_i</TD>
<TD >189</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >119</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|READ_CTRL</TD>
<TD >103</TD>
<TD >39</TD>
<TD >38</TD>
<TD >39</TD>
<TD >96</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|WRITE_CTRL</TD>
<TD >142</TD>
<TD >35</TD>
<TD >39</TD>
<TD >35</TD>
<TD >64</TD>
<TD >35</TD>
<TD >35</TD>
<TD >35</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_b_buffer_LP|buffer_i</TD>
<TD >12</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_b_buffer_LP</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_r_buffer_LP|buffer_i</TD>
<TD >45</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >42</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_r_buffer_LP</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >42</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_w_buffer_LP|buffer_i</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_w_buffer_LP</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_ar_buffer_LP|buffer_i</TD>
<TD >71</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_ar_buffer_LP</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_aw_buffer_LP|buffer_i</TD>
<TD >71</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i|Slave_aw_buffer_LP</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if|axi_mem_if_SP_i</TD>
<TD >210</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >105</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem_axi_if</TD>
<TD >210</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >105</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem|altera_sram_32768x32_i|altsyncram_component|auto_generated|mux2</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem|altera_sram_32768x32_i|altsyncram_component|auto_generated|decode3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem|altera_sram_32768x32_i|altsyncram_component|auto_generated</TD>
<TD >54</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem|altera_sram_32768x32_i</TD>
<TD >54</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >32</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|data_mem</TD>
<TD >56</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_ram_mux_i</TD>
<TD >192</TD>
<TD >43</TD>
<TD >0</TD>
<TD >43</TD>
<TD >122</TD>
<TD >43</TD>
<TD >43</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|READ_CTRL</TD>
<TD >103</TD>
<TD >39</TD>
<TD >37</TD>
<TD >39</TD>
<TD >97</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|WRITE_CTRL</TD>
<TD >142</TD>
<TD >35</TD>
<TD >38</TD>
<TD >35</TD>
<TD >65</TD>
<TD >35</TD>
<TD >35</TD>
<TD >35</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_b_buffer_LP|buffer_i</TD>
<TD >12</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_b_buffer_LP</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >9</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_r_buffer_LP|buffer_i</TD>
<TD >45</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >42</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_r_buffer_LP</TD>
<TD >45</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >42</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_w_buffer_LP|buffer_i</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_w_buffer_LP</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_ar_buffer_LP|buffer_i</TD>
<TD >71</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_ar_buffer_LP</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_aw_buffer_LP|buffer_i</TD>
<TD >71</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i|Slave_aw_buffer_LP</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if|axi_mem_if_SP_i</TD>
<TD >210</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >106</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem_axi_if</TD>
<TD >210</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >106</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem|boot_rom_wrap_i|boot_code_i</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem|boot_rom_wrap_i</TD>
<TD >15</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem|sp_ram_wrap_i|altera_sram_32768x32_i|altsyncram_component|auto_generated|mux2</TD>
<TD >130</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem|sp_ram_wrap_i|altera_sram_32768x32_i|altsyncram_component|auto_generated|decode3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem|sp_ram_wrap_i|altera_sram_32768x32_i|altsyncram_component|auto_generated</TD>
<TD >54</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem|sp_ram_wrap_i|altera_sram_32768x32_i</TD>
<TD >54</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >32</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem|sp_ram_wrap_i</TD>
<TD >56</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|instr_mem</TD>
<TD >57</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|b_buffer_i|buffer_i</TD>
<TD >10</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|b_buffer_i</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|r_buffer_i|buffer_i</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|r_buffer_i</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|w_buffer_i|buffer_i</TD>
<TD >43</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|w_buffer_i</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >40</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|ar_buffer_i|buffer_i</TD>
<TD >69</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >66</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|ar_buffer_i</TD>
<TD >69</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >66</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|aw_buffer_i|buffer_i</TD>
<TD >69</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >66</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i|aw_buffer_i</TD>
<TD >69</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >66</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi|WITH_SLICE.axi_slice_i</TD>
<TD >222</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|axi_slice_core2axi</TD>
<TD >222</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|core2axi_i|core2axi_i</TD>
<TD >120</TD>
<TD >66</TD>
<TD >11</TD>
<TD >66</TD>
<TD >205</TD>
<TD >66</TD>
<TD >66</TD>
<TD >66</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|core2axi_i</TD>
<TD >120</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >205</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|debug_unit_i</TD>
<TD >226</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >168</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|cs_registers_i</TD>
<TD >375</TD>
<TD >32</TD>
<TD >15</TD>
<TD >32</TD>
<TD >161</TD>
<TD >32</TD>
<TD >32</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|load_store_unit_i</TD>
<TD >143</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >108</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|ex_stage_i|mult_i</TD>
<TD >209</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|ex_stage_i|alu_i|int_div.div_i</TD>
<TD >78</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|ex_stage_i|alu_i|alu_ff_i</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|ex_stage_i|alu_i|alu_popcnt_i</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|ex_stage_i|alu_i</TD>
<TD >121</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|ex_stage_i</TD>
<TD >613</TD>
<TD >117</TD>
<TD >203</TD>
<TD >117</TD>
<TD >231</TD>
<TD >117</TD>
<TD >117</TD>
<TD >117</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|id_stage_i|hwloop_regs_i</TD>
<TD >105</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >192</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|id_stage_i|int_controller_i</TD>
<TD >15</TD>
<TD >0</TD>
<TD >3</TD>
<TD >0</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|id_stage_i|controller_i</TD>
<TD >71</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >55</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|id_stage_i|decoder_i</TD>
<TD >38</TD>
<TD >28</TD>
<TD >10</TD>
<TD >28</TD>
<TD >104</TD>
<TD >28</TD>
<TD >28</TD>
<TD >28</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|id_stage_i|registers_i</TD>
<TD >99</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >96</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|id_stage_i</TD>
<TD >300</TD>
<TD >38</TD>
<TD >5</TD>
<TD >38</TD>
<TD >852</TD>
<TD >38</TD>
<TD >38</TD>
<TD >38</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|if_stage_i|compressed_decoder_i</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >34</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|if_stage_i|hwloop_controller_i</TD>
<TD >226</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >35</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|if_stage_i|prefetch_32.prefetch_buffer_i|fifo_i</TD>
<TD >71</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >69</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|if_stage_i|prefetch_32.prefetch_buffer_i</TD>
<TD >104</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >101</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|if_stage_i</TD>
<TD >445</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >137</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|core_clock_gate_i|cluster_clock_gating_gf45_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE|core_clock_gate_i</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|CORE.RISCV_CORE</TD>
<TD >215</TD>
<TD >200</TD>
<TD >8</TD>
<TD >200</TD>
<TD >267</TD>
<TD >200</TD>
<TD >200</TD>
<TD >200</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i|core_master_int</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|core_region_i</TD>
<TD >667</TD>
<TD >104</TD>
<TD >0</TD>
<TD >104</TD>
<TD >482</TD>
<TD >104</TD>
<TD >104</TD>
<TD >104</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|debug</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >83</TD>
<TD >0</TD>
<TD >83</TD>
<TD >0</TD>
<TD >83</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|masters[3]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|masters[2]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|masters[1]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|masters[0]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
<TD >0</TD>
<TD >219</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|slaves[2]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >227</TD>
<TD >0</TD>
<TD >227</TD>
<TD >0</TD>
<TD >227</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|slaves[1]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >227</TD>
<TD >0</TD>
<TD >227</TD>
<TD >0</TD>
<TD >227</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i|slaves[0]</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >227</TD>
<TD >0</TD>
<TD >227</TD>
<TD >0</TD>
<TD >227</TD>
</TR>
<TR >
<TD >pulpenix_i1|msystem_i</TD>
<TD >12</TD>
<TD >4</TD>
<TD >3</TD>
<TD >4</TD>
<TD >10</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >pulpenix_i1</TD>
<TD >15</TD>
<TD >10</TD>
<TD >2</TD>
<TD >10</TD>
<TD >6</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >u_clocks_resets|altpll_component|auto_generated</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >u_clocks_resets</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
